/*FONTS<<____________________________________________________________________________________*/
/* Font Icons<<______________________________________________________________ */
@font-face {
    font-family: 'Glyphter';
    src : url('../fonts/Glyphter.eot');
    src : url('../fonts/Glyphter.eot?#iefix') format('embedded-opentype'),
          url('../fonts/Glyphter.woff') format('woff'),
          url('../fonts/Glyphter.ttf') format('truetype'),
          url('../fonts/Glyphter.svg#Glyphter') format('svg');
    font-weight: normal;
    font-style : normal;
}
[class*='icon-']:before{
	display                : inline-block;
	font-family            : 'Glyphter';
	font-style             : normal;
	font-weight            : normal;
	line-height            : 1;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale
}
.icon-foires:before{content:'\0041';}
.icon-Accueil:before{content:'\0042';}
.icon-Lieux:before{content:'\0043';}
.icon-news:before{content:'\0044';}
.icon-mail:before{content:'\0045';}
/* Font Icons>>______________________________________________________________ */

/* font types */
.fontSec{font-family: 'Baloo Paaji 2', cursive;}
.fontI{font-style: italic;}
.fontB{font-weight: bold;}
.fontSB{font-weight: 600;}
/* font sizes */
.fSize220{ font-size: 13.75rem}
.fSize120{ font-size: 7.5rem}
.fSize48{ font-size: 3rem}
.fSize36{ font-size: 2.25rem}
.fSize34{ font-size: 2.13rem}
.fSize24{ font-size: 1.5rem}
.fSize20{ font-size: 1.25rem}
.fSize18{ font-size: 1.13rem}
.fSize16{ font-size: 1rem}
.fSize15{ font-size: 0.94rem}
.fSize14{ font-size: 0.88rem}
.fSize13{ font-size: 0.81rem}
.fSize12{ font-size: 0.75rem}
/* font positioning */
.fspace{letter-spacing: 2rem;}
.TXTleft{text-align: center;}
.TXTcenter{text-align: center;}
.TXTjustif{text-align: justify;}
.TXTlineL{line-height: 2rem;}
.TXTlineXL{line-height: 3rem;}
/*FONTS>>____________________________________________________________________________________*/

/*COLOR VALUES<<____________________________________________________________________________________*/
/* @colors */
:root{
    --Col_MainLight: #98efff;
    --Col_Main     : #009aa8;
    --Col_Comp     : #fd8a76;
    --Col_Sec      : #eabe2b;
    --Col_SecLight : #9bcc15;
    --Col_Grad1    : rgba(0, 255, 255, 0.445);
    --Col_Grad2    : #B1F3EB;
    --Col_Gray     : #4B504D;
    --Col_Black    : #0d110d;
    --Col_White_a95: rgba(255, 255, 255, 0.85);
    --Col_Shadow   : rgba(0, 0, 0, 0.5);
}
/* classes text */
.TXTmain{color: var(--Col_Main);}
.TXTcomp{color: var(--Col_Comp);}
.TXTsec{color: var(--Col_Sec);}
.TXTseclight{color: var(--Col_SecLight);}
.TXTdark{color: var(--Col_Black);}
.TXTmed{color: var(--Col_Gray);}
.TXTmainlight{color: var(--Col_MainLight);}
.TXTwhite{color:white;}

/* classes background */
.BCKwhiteA{background-color: var(--Col_White_a95);}
.BCKmain{background-color: var(--Col_Main);}
.BCKsec{background-color: var(--Col_Sec);}
.BCKseclight{background-color: var(--Col_SecLight);}
.BCKcomp{background-color: var(--Col_Comp);}
.BCKDark{background-color: var(--Col_Black);}

/* gradients */
.BCKgradBlue{background-image: linear-gradient(180deg,var(--Col_Grad1),var(--Col_Grad2));}
/* shadows */
.shadow{box-shadow          : 0px 2px 6px var(--Col_Shadow);}
.shadowLarge{box-shadow     : 3px 3px 20px rgba(0, 0, 0, 0.164);}
.shadowPost{box-shadow      : 3px 3px 10px rgba(10, 99, 117,0.25);}
.txtshadow{text-shadow      : 3px 3px 4px var(--Col_Shadow);}

/* borders */
.borderPostR{border-right   : 15px solid var(--Col_Comp);}
.borderPostL{border-left   : 15px solid var(--Col_Comp);}

/* lettrines */
.lettrine::first-letter{
    display     : block;
    font-size   : 4rem;
    float       : left;
    font-weight : bold;
    color       : var(--Col_SecLight);
    margin-right: 15px;
    /* background-color: var(--Col_SecLight);
    padding: 5px; */
}
/*COLOR VALUES>>____________________________________________________________________________________*/

/*FLEX<<____________________________________________________________________________________*/
.flex{display: flex;}
.flexCenterCenter{
    display        : flex;
    align-items    : center;
    justify-content: center;
}
.flexReverse{flex-direction: row-reverse;}

/*FLEX>>____________________________________________________________________________________*/

/* Generic<<______________________________________________________________ */
body{
    font-size            : 16px;
    font-family          : 'Quicksand', sans-serif;
    font-weight          : 400;
    background-image     : url("/Images/back.jpg");
    background-repeat    : no-repeat;
    background-size      : cover;
    background-attachment: fixed;
    padding              : 0px;
    margin               : 0px;
    height               : 100%;
    line-height          : 1.5rem;
    letter-spacing       : 0.05rem;
    color                : var(--Col_Gray);
}
p strong{
    font-weight: 900;
}
[href]{
    text-decoration: none;
}
/* Generic>>______________________________________________________________ */

/* Containers<<______________________________________________________________ */
.container{
    max-width    : 1200px;
    margin       : 0 auto;
    padding-left : 20px;
    padding-right: 20px;
}/* Containers>>______________________________________________________________ */

/* Box Model<<______________________________________________________________ */
.m0{margin: 0px;}
.p0{padding: 0px;}
.mp0{margin: 0px; padding: 0px;}
.m0child *{margin: 0px;}
/* Box Model>>______________________________________________________________ */

/* transforms */
.rotRight{transform: rotate(3deg);}
.rotLeft{transform: rotate(-3deg);}
/* NAVBAR<<______________________________________________________________ */
#navbar{
    width           : 100%;
    position        : fixed;
    position        : top;
    z-index         : 2;
    background-color: var(--Col_Black);
}
/* nav buttons */
#navbar [href]{
    color          : rgb(255, 255, 255);
    text-decoration: none;
    font-weight    : 400;
}
#navButtons a.current{font-weight: 600;}

#navButtons> li:nth-child(1) a:hover{background-color: var(--Col_Main);}

#navButtons> li:nth-child(2) a:hover{background-color: var(--Col_Sec);}

#navButtons> li:nth-child(3) a:hover{background-color: var(--Col_Comp);}

#navButtons> li:nth-child(4) a:hover{background-color: var(--Col_SecLight);}

#navButtons> li:nth-child(1) a.current{
    border-bottom   : 5px solid var(--Col_Main);
    background-color: rgb(0, 0, 0);
    padding-top     : 5px;
}
#navButtons> li:nth-child(2) a.current{
    border-bottom   : 5px solid var(--Col_Sec);
    background-color: rgb(0, 0, 0);
    padding-top     : 5px;
}
#navButtons> li:nth-child(3) a.current{
    border-bottom   : 5px solid var(--Col_Comp);
    background-color: rgb(0, 0, 0);
    padding-top     : 5px;
}
#navButtons> li:nth-child(4) a.current{
    border-bottom   : 5px solid var(--Col_SecLight);
    background-color: rgb(0, 0, 0);
    padding-top     : 5px;
}

#navbar ul{padding:0px;}

#logo{
    flex           : 0 100%;
    text-align     : center;
    display        : flex;
    justify-content: center;
    padding        : 10px 0px;
}
#logo img{
    display   : box;
    object-fit: contain;
    width     : 90%;
    height    : 110px;
}
nav{
    align-items: stretch;
    flex       : 0 100%;
}
nav li{
    list-style : none;
    line-height: 2em;
    font-weight: 600;
    display    : flex;
    align-items: justify;
}
nav li a{
    padding-right: 15px;
    padding-left : 15px;
    display      : flex;
    align-items  : center;
}
#navElement{
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-wrap      : wrap;
    align-items    : stretch;
}
#navButtons{
    display        : flex;
    align-items    : center;
    width          : 100%;
    margin         : 0em;
    flex-wrap      : wrap;
    justify-content: space-around;
    align-items    : stretch;
    border-top     : 1px solid white;
}
#navButtons p{
    margin: 0px;
}
.icon{
    font-size     : 2rem;
    padding-bottom: 10px;
    padding-top   : 10px;
}
.buttonTXT{display: none;padding-left: 10px}
/* NAVBAR>>______________________________________________________________ */

/* Slogan<<______________________________________________________________ */
#slogan{
    height          : 90vh;
    font-size       : 1.7em;
    letter-spacing  : 0.15em;
    text-align      : center;
    padding-bottom  : 5vw;
    width           : 100%;
}
#slogan span{
    line-height: 90%;
    display    : block;
    margin     : 40px, 0px;
}
#slogan span:last-child{line-height: 90%;
    display         : block;
    margin          : 40px, 0px;
    border-radius   : 70px 5px;
}
/* Slogan>>______________________________________________________________ */

/* Fleche<<______________________________________________________________ */
.flecheContain{
    text-align: center;
    position  : relative;
    top       : -10vw;
}
.fleche:nth-child(2){
    position: relative;
    top     : -1.5vw;
}
.fleche img{
    width: 100%;
}
/* Fleche>>______________________________________________________________ */

main{
        text-align: center;
        position  : relative;
        top       : 18vw;
}
/* TITLES>>______________________________________________________________ */
#blocTitle{
    margin-bottom   : 0px;
    padding-top     : 1px;
    padding-bottom  : 1px;
    margin-top      : 8vw;
    background-color: var(--Col_Black);
}
.colorLine{
    height : 5vw;
}
.colorLine>div{
    width: 25%;
}

h1{
    font-size     : 1.8em;
    letter-spacing: 0.1em;
    text-align    : center;
    font-weight   : 500;
    padding-top   : 8vw;
    padding-bottom: 8vw;
}

h2{
    font-family   : 'Baloo Paaji 2', cursive;
    font-weight   : 400;
    font-size     : 1.4em;
    letter-spacing: 0.05em;
    margin-top    : 10px;
    margin-bottom : 10px;
}
/* IMAGES>>______________________________________________________________ */
.cover1{background-image: url("/Images/accueil/fullsize/meteo.jpg");}
.img-cover{
    background-position: center;
    background-size    : cover;
    align-self         : stretch;
}
.cover-link{
    filter : grayscale(1);
    opacity: 1;
}
.cover-link:hover{
    filter : none;
    opacity: 1;
}
.img-cover a{
    display: block;

    height : 100%
}
.loopBox{display:flex ; align-items: center;}

/* lieux */
.lieux1{background-image: url("/Images/lieux/puydedome/PuyLarge.jpg");}
.lieux2{background-image: url("/Images/lieux/chainedespuys/chaineLarge.jpg");}
.lieux3{background-image: url("/Images/lieux/cathedrale/CathedraleLarge.jpg");}
.lieux4{background-image: url("/Images/lieux/vulcania/vulcaniaLarge.jpg");}
.lieux5{background-image: url("/Images/lieux/lacdeguery/gueryLarge.jpg");}
.lieux6{background-image: url("/Images/lieux/grottepierre/grotteLarge.jpg");}
.lieux7{background-image: url("/Images/lieux/superbesse/SuperBesseLarge.jpg");}
.lieux8{background-image: url("/Images/lieux/gergovie/GergovieLarge.jpg");}
.lieux9{background-image: url("/Images/lieux/lacPavin/PavinLarge.jpg");}
.lieux10{background-image: url("/Images/lieux/murol/MurolLarge.jpg");}

/* SECTIONS>>______________________________________________________________ */
.secTopBar{
    height          : 100px;
    text-align      : left;
    align-items     : center;
    background-color: var(--Col_Black);
}
.secTopBarR{
    height          : 100%;
    width           : 5vw;
    max-width       : 100px;
    margin-right    : 20px;
}
.secPost{
    justify-content : space-between;
    align-items     : center;
}
.sec{
    margin-top   : 8vw;
}
.post{
    flex            : 0 60%;
}
.post>div{
    padding: 30px 5vw;
}
/* .post strong{background-color: var(--Col_Sec); } */
.postillu{
    flex: 0 40%;
}
.postillu>a{
    display: block;
    width: 100%;
}
.postillu>a:hover{
    background-image: url("/Images/loupe.png");
    background-repeat: no-repeat;
    background-position: center ;
}
.postillu>div img{
    box-sizing: border-box;
    padding   : 30px 5vw;
    display   : box;
    object-fit: contain;
    width     : 100%;
    height    : 100%;
}

/* RESPONSIVE<<_________________________________________________________ */
/* small<<______________________________ */
@media (min-width:650px){

}
/* medium<<______________________________ */
@media (min-width:900px){
    #navButtons{
        justify-content: space-between;
    }
    .buttonTXT{
        display: inline;
    }
    .icon{
        font-size     : 1rem;
        padding-bottom: 0px;
        padding-top   : 0px;
    }
    #slogan{
        font-size: 2rem;
    }
    .container{
        width    : 85%;
        max-width: 1200px;
    }

}
/* large<<______________________________ */
@media (min-width:1190px){
    #navButtons{
        justify-content: space-between;
    }
    #logo{
        flex         : 0 15%;
        padding-right: 25px;
        text-align   : left;
    }
    #logo img{
        width : 172px;
        height: 54px;
    }
    nav{
        flex: 0 80%;
    }
    #slogan{
        font-size: 2.5rem;
    }
    #navButtons{
        border-top: none;
    }
    .container{
        width    : 80%;
        max-width: 1200px;
    }
}/* RESPONSIVE>>_________________________________________________________ */
